slack:
  SLACK_TOKEN: "xxxx-111111100111-111111111111-111000111000-111eeeaa11"
  SLACK_TEAM: "my-team"
  CHANNEL_IDS: ""
active_campaign:
  URL: "https://yourorg.api-us1.com"
  API_KEY: "000your0very0long0api0key000"
